<style>
            a{
              color:brown;
              text-decoration: none;
            }
            a:hover{
                color :indianred;
                background-color: indigo;
                text-decoration: none;
            }
        </style>